---
import ContactSection from "../../components/ContactSection.astro";
import ThemeLayout from "../../layouts/ThemeLayout.astro";
import { Image } from "astro:assets";
import Ecommerce from "../../assets/creation-de-site-ecommerce-ticme-expert-woocommerce.png";
import UxUiDesign from "../../assets/maquette-ux-ui-design-ticme.png";
import Development from "../../assets/developpement-de-site-ecommerce-ticme-expert-woocommerce.png";
import Integration from "../../assets/integration-de-site-ecommerce-ticme-expert-woocommerce.png";
import Livraison from "../../assets/livraison-projet-e-commerce-ticme-expert-e-commerce.png";
import Link from "../../components/Link.astro";
---

<ThemeLayout
    title={"Création de sites ecommerce - Ticme"}
    description={"Vous souhaitez développer votre activité en vendant sur internet. Vous êtes au bon endroit! Ticme vous propose des outils basés sur des solutions CMS e-commerce solides, accessibles, évolutives, maintenables du type Woocommerce dédiés au commerce en ligne."}
>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-14 mx-auto">
            <div class="flex flex-col w-full mb-10">
                <div class="mb-6">
                    <h2
                        class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                    >
                        Création de sites e-commerce
                    </h2>
                    <div class="h-1 w-20 bg-blue-500 rounded"></div>
                </div>
                <p
                    class="text-justify text-lg font-light leading-loose text-blue-950 dark:text-gray-300"
                >
                    Vous souhaitez développer votre activité en vendant sur
                    internet. Vous êtes au bon endroit! Ticme vous propose des
                    outils basés sur des solutions CMS e-commerce solides,
                    accessibles, évolutives, maintenables du type Woocommerce
                    dédiés au commerce en ligne.
                </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
                <div class="h-max mx-auto">
                    <Image
                        class="mb-4 p-10 bg-blue-200 dark:bg-blue-900 rounded-2xl"
                        src={Ecommerce}
                        alt="ticme expert cms wordpress drupal"
                    />
                </div>
                <div class="flex flex-col justify-center">
                    <h3
                        class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                    >
                        Qu’est-ce qu’un CMS e-commerce?
                    </h3>
                    <p
                        class="text-justify text-lg font-light leading-loose text-blue-950 dark:text-gray-300"
                    >
                        Un CMS e-commerce, ou système de gestion de contenu
                        e-commerce, est un outil qui vous permet de gérer le
                        contenu de votre site e-commerce de manière
                        indépendante. Woocommerce est flexible, hautement
                        personnalisable, super convivial et un excellent système
                        de gestion de contenu e-commerce, reconnu et éprouvé.
                        <br />
                        <br />
                        En propulsant votre projet e-commerce à l'aide d'un CMS e-commerce
                        vous augmentez la durée de vie de votre site e-commerce,
                        car vous pourrez à tout moment : ajouter, modifier et travailler
                        vos contenus pour le référencement, gérer et paramétrer votre
                        outil au millimètre et même ajouter de nouvelles fonctionnalités.
                    </p>
                </div>
            </div>
            <div class="flex flex-col w-full my-10">
                <div class="flex flex-col items-center mb-6">
                    <h2
                        class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                    >
                        Étapes de conception d'un site e-commerce
                    </h2>
                    <div class="h-1 w-20 bg-blue-500 rounded"></div>
                </div>
                <p
                    class="text-justify text-lg font-light leading-loose text-blue-950 dark:text-gray-300"
                >
                    Je vous accompagne dans la conception de votre projet de
                    site e-commerce, de la maquette en passant par l'intégration
                    de vos contenu jusqu'à la mise en ligne sur votre
                    hébergement. Soit 4 étapes et 3 validations avant la
                    livraison!
                </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-10 my-10">
                <div class="flex flex-col justify-center">
                    <h3
                        class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                    >
                        Préparation, UX/UI et Design
                    </h3>
                    <p
                        class="text-justify text-lg font-light leading-loose text-blue-950 dark:text-gray-300"
                    >
                        Suite à l'étude de votre demande et de vos besoins. Nous
                        préparons un cahier des charges, détaillons les taĉhes à
                        effectuer puis maquettons les prémices de votre
                        application sur nos serveurs pour que vous puissez
                        consulter l'avancée de votre projet en temps réel.
                    </p>
                </div>
                <div class="h-max mx-auto">
                    <Image
                        class="mb-4 p-10 bg-blue-200 dark:bg-blue-900 rounded-2xl"
                        src={UxUiDesign}
                        alt="maquette ui ux design web ticme"
                    />
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-10 my-10">
                <div class="h-max mx-auto">
                    <Image
                        class="mb-4 p-10 bg-blue-200 dark:bg-blue-900 rounded-2xl"
                        src={Development}
                        alt="ticme expert cms wordpress drupal"
                    />
                </div>
                <div
                    class="flex flex-col justify-center order-first md:order-none"
                >
                    <h3
                        class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                    >
                        Développement
                    </h3>
                    <p
                        class="text-justify text-lg font-light leading-loose text-blue-950 dark:text-gray-300"
                    >
                        En fonction du cahier des charges, nous développons les
                        différentes parties et fonctionnalités de votre site
                        internet.
                    </p>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-10 my-10">
                <div class="flex flex-col justify-center">
                    <h3
                        class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                    >
                        Intégration
                    </h3>
                    <p
                        class="text-justify text-lg font-light leading-loose text-blue-950 dark:text-gray-300"
                    >
                        Nous préparons et intégrons le contenu de votre site
                        internet (textes, images, vidéos). A cet instant, nous
                        validerons ensemble les derniers paramètres avant
                        livraison.
                    </p>
                </div>
                <div class="h-max mx-auto">
                    <Image
                        class="mb-4 p-10 bg-blue-200 dark:bg-blue-900 rounded-2xl"
                        src={Integration}
                        alt="integration de site e-commerce ticme expert e-commerce"
                    />
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-10 my-10">
                <div class="h-max mx-auto">
                    <Image
                        class="mb-4 p-10 bg-blue-200 dark:bg-blue-900 rounded-2xl"
                        src={Livraison}
                        alt="livraison projet e-commerce ticme expert e-commerce"
                    />
                </div>
                <div
                    class="flex flex-col justify-center order-first md:order-none"
                >
                    <h3
                        class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                    >
                        Livraison
                    </h3>
                    <p
                        class="text-lg font-light leading-loose text-justify whitespace-normal text-blue-950 dark:text-gray-300"
                    >
                        Nous préparons, sécurisons et optimisons votre serveur
                        puis effectuons la livraison de votre projet.
                    </p>
                </div>
            </div>
            <div class="flex flex-col w-full my-10">
                <div class="flex flex-col items-center mb-6">
                    <h2
                        class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                    >
                        Voilà c'est fini : votre e-commerce est en ligne !
                    </h2>
                    <div class="h-1 w-20 bg-blue-500 rounded"></div>
                </div>
                <p
                    class="text-justify text-lg font-light leading-loose text-blue-950 dark:text-gray-300"
                >
                    Vous êtes maintenant propriétaire de votre votre site
                    e-commerce, personnalisé, rapide, optimisé pour le
                    référencement, compatible avec tous les supports
                    (web&mobile) et surtout sécurisé.
                </p>
            </div>
            <Link
                href="/services"
                class="flex justify-end items-center my-5 font-bold text-gray-400 hover:text-blue-600 transition-colors ease-in-out"
            >
                Retour aux services
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="flex-shrink-0 mx-2 overflow-visible h-4 w-4 text-gray-400 dark:text-neutral-600 lucide lucide-undo-2"
                    ><path d="M9 14 4 9l5-5"></path><path
                        d="M4 9h10.5a5.5 5.5 0 0 1 5.5 5.5v0a5.5 5.5 0 0 1-5.5 5.5H11"
                    ></path></svg
                >
            </Link>
        </div>
    </section>
    <ContactSection />
</ThemeLayout>
